
.bg-custom {
	width:1200px;
	color:#fff;
	background-color:#2FA5EB !important;
	font-family:calibri;
	padding:10px;
	text-align:right;
}

body {
    font-family: Calibri, sans-serif;
}

nav .navbar-nav a {
    margin-right: 10px;
    color: gray;
}

nav .navbar-nav a:hover {
    color: #428bca;
    border-bottom: 2px solid gray;
}

h1, h2 {
    font-family: Forte, sans-serif;
}

/* Add more custom styles here as needed */

.middle{
	width:100%;
	border-bottom:2px solid #f0f0f0;
}
.middle div{
	width:1200px;
	height:00px;
	font-family:calibri;
}
.middle div p{
	width:1000px;
	font-weight:bold;
	height:300px;
	color:#fff;
	opacity:0.2;
	font-size:50px;
	background-color:#000;
}
.nav_down div{
	width:1200px;
	color:#fff;
	background-color:#000;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
.nav_down{
	width:100%;
	background-color:#2FA5EB !important;
	border-bottom:2px solid #f0f0f0;
}
.top{
	width:100%;
	background-color:#2FA5EB !important;
	border-bottom:2px solid #f0f0f0;
}
.top div{
	width:1200px;
	color:#fff;
	background-color:#2FA5EB !important;
	font-family:calibri;
	padding:10px;
	text-align:right;
}
.logo{
	width:100%;
	background-color:;
	border-bottom:2px solid #f0f0f0;
}
.logo div{
	width:1200px;
	background-color:;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
.logo div table a{
	padding:10px;
	text-decoration:none;
	color:gray;
}
.logo div table a:hover{
	color:#428bca;
	border-bottom:2px solid gray;
}

.doctor-profile {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .doctor-photo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 20px;
            float: left;
        }

        .doctor-info {
            overflow: hidden;
        }

        .doctor-name {
            font-size: 24px;
            font-weight: bold;
        }

        .doctor-title {
            font-size: 18px;
            color: #555;
        }

        .biography {
            margin-top: 20px;
            text-align: justify;
        }
		
		
		    .container {
     
            margin: 0 auto;
            padding: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input, textarea {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
		
		  #map-container {
            height: 400px;  /* Adjust as needed */
            width: 600px;   /* Adjust as needed */
        }